@{
    ViewData["Title"] = "Home Page";
}
@model EFBirdData.ViewModels.IndexViewModel

<div class="container">
    @Html.Partial("RecentSightings", Model.RecentSightings)
</div>

<div class="container">

    @Html.Partial("SightingsTable", Model.ReportView)
</div>

<div class="container col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Favorite Birds
            </h3>
        </div>
        @foreach (var bird in Model.Bird)
        {
            <div class="panel-body">
                <a asp-action="Bird" asp-route-id="@bird.Id">@bird.CommonName, @bird.Id</a>
            </div>
        }
        @foreach (var item in Model.ReportView.Items)
        {
            <div class="panel-body">
                @item.Name, @item.Value
            </div>
        }

        <div class="panel-footer">
            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="pull-right">
                        <input type="submit" value="+" class="btn btn-sm" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>











