@model EFBirdData.ViewModels.LinkedTableViewModel
<div class="container  col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.TableTitle 
            </h3>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="panel-body">
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@item.Id">
                     @item.Name <span class="pull-right">
                        @item.Value
            </span></a>
</div>
        }
        <div class="panel-footer">
            <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="pull-right">
                        <input type="submit" value="+" class="btn btn-sm" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
